#halfpage-ad-mastercard *{
  margin:0;
  padding:0;
}
#halfpage-ad-mastercard{
  position:relative;
  width:336px;
  height:850px;
}
#halfpage-ad-mastercard-video{
  width:324px;
  height:182px;
  overflow:hidden;
  position:absolute;
  top:360px;
  left:6px;
  background-color:#000;
}